
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body p{
    font-size: 18px;
}
.navbar{
    margin-bottom: 0px;
}
.section1{
    background-image: url(red1.jpeg);
    width: 100%;
    height: 650px;
    color: white;
    background-position-x: 50%;
    background-position-y: 50%;
    padding: 70px;
}
.section1 h1{
    font-size: 60px;
}
.section1 p{
    font-size: 20px;
  
}
.section2{
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    padding: 45px;
}
.section22{
padding-left: 40px;
}
.section2 h1{
    font-size: 39px;
    padding-top: 40px;
}
.section2 p{
    font-size: 16px;
    padding-top: 35px;
    padding-bottom: 50px;
}
.section3{
    width: 100%;
    height: auto;
} 
.section31{
    img-responsive
    background-position-x: 13.93%;
    background-position-y: 50%;
} 
.section314{
    background-color: #940d1b;
    width: 100%;
    padding: 20px;
    height: auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.section3 h2{
    margin: 0px;
}
.col-lg-3{
    padding-left: 0%;
    padding-right: 0%; 
} 
.col-lg-6{
    padding-left: 0%;
    padding-right: 0%;   
}
.section34{
    background-color: #51636f;
    width: 100%;
    height: 203px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.section36{
    background-color: black;
    color: white;
    width: 100%;
    height: 203px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.section4{
    background-image: url(black4.png);
    width: 100%;
    height: auto;
    color: white;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.section42{
padding-left: 30px;
}
.section43{
    padding-left: 30px;
    padding-right: 50px;
}
.section4 p{
    font-size: 16px;
    padding-bottom: 30px;
}
.section5{
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
}
.section51{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section6{
    background-image: url(move7.jpeg);
    width: 100%;
    height: 575px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 60px;
}
.section7{
    background-image: url(stay8.jpeg);
    width: 100%;
    height: 500px;
    color: white;
    padding: 70px;
}
.section8{
    background-color: black;
    width: 100%;
    height: 75px;
    color: white;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}